<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-left">
					<h4>Acerca de...</h4>
					<p>Aplicaci&oacute;n utilizada para la realizaci&oacute;n de pruebas de concepto relacionadas con las nuevas tecnolog&iacute;as m&aacute;s demandadas por el mercado como por ejemplo:</p>
					<ul>
						<li>Desarrollos front-end con Angular o React.</li>
						<li>Desarrollos back-end con Java, Node o Python.</li>
						<li>Frameworks de microservicios tipo SpringBoot.</li>
						<li>Bases de datos NoSQL como MongoDB, Neo4J o Cassandra.</li>
						<li>M&eacute;todos de escalado y orquestaci&oacute;n de microservicios.</li>
						<li>Tipos de comunicaci&oacute;n entre microservicios como la comunicacion as&iacute;ncrona orientada a mensajes.</li>
						<li>Herramientas tipo APIManagement, APIGateway, LoadBalancing, ServiceDiscovery o CircuitBreaker.</li>
						<li>M&eacute;todos de autenticaci&oacute;n y autorizaci&oacute;n y otros mecanismos de seguridad para front-end y back-end.</li>
						<li>Tratamiento y procesamiento de logs distribuidos y m&eacute;tricas de aplicaci&oacute;n en tiempo real.</li>
						<li>Monitorización de recursos de infraestructura en tiempo de ejecuci&oacute;n.</li>
						<li>Automatizaci&oacute;n de pruebas unitarias, de integraci&oacute;n y de carga.</li>
						<li>Infraestructura integraci&oacute;n continua / despliegue continuo.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
