<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Listado Personas</strong>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Profesión</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
				<tr>
					<td>12345</td>
					<td>Julio</td>
					<td>Fontanero</td>
				</tr>
			</tbody>
		</table>
		<form class="form-horizontal" action="">
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default">Actualizar</button>
				</div>
			</div>
		</form>
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Mensaje:</strong>Mensaje con el resultado de la acción.
		</div>
	</div>
</div>