<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Listado Personas</strong>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Profesi&oacute;n</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let persona of listaPersonas">
					<td>{{persona.id}}</td>
					<td>{{persona.nombre}}</td>
					<td>{{persona.profesion}}</td>
				</tr>
			</tbody>
		</table>
		<form (ngSubmit)="onSubmit()" #listPersonaForm="ngForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default" (blur)="cleanMsg()" [disabled]="!listPersonaForm.form.valid">Actualizar</button>
				</div>
			</div>
		</form>
		<div [hidden]="!resultERR" class="alert alert-danger">{{resultadoMSG}}</div>
		<div [hidden]="!resultOK" class="alert alert-success">{{resultadoMSG}}</div>
	</div>
</div>