<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-right">
					<span class="text-left"><h4>CRUD Personas</h4></span>
					Demo componente CRUD
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<app-add-persona>app-add-persona...</app-add-persona>
			<app-update-persona>app-update-persona...</app-update-persona>
		</div>
		<div class="col-sm-3">
			<app-find-persona>app-find-persona...</app-find-persona>
			<app-delete-persona>app-delete-persona...</app-delete-persona>
		</div>
		<div class="col-sm-6">
			<app-list-personas>app-list-personas...</app-list-personas>
		</div>
	</div>
</div>
