
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-12">
					<app-add-persona>app-add-persona...</app-add-persona>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h5>Modificar Persona</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h5>Buscar Persona</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h5>Borrar Persona</h5>
				</div>
			</div>		
		</div>
		<div class="col-sm-8">
			<h5>Listado Personas</h5>
		</div>
	</div>
</div>
